doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1, maximum-scale=4"
      name="viewport"
    )
    meta(content="ie=edge" http-equiv="X-UA-Compatible")

    meta(content="#000000" name="msapplication-TileColor")
    meta(content="#000000" name="theme-color")

    block basicSeo
      meta(content="Страница сайта" name="description")
      meta(content="Страница сайта" name="keywords")
      meta(content="wotkad" name="author")

    meta(content="summary" name="twitter:card")
    meta(content="" name="twitter:description")
    meta(content="" name="twitter:image")

    meta(content="Страница сайта" property="og:title")
    meta(content="" property="og:description")
    meta(content="" property="og:image")

    link(
      href="/assets/images/favicons/apple-touch-icon.png"
      rel="apple-touch-icon"
      sizes="180x180"
    )
    link(
      href="/assets/images/favicons/android-chrome-192x192.png"
      rel="icon"
      sizes="192x192"
      type="image/png"
    )
    link(
      href="/assets/images/favicons/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    )
    link(
      href="/assets/images/favicons/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    )
    link(href="/assets/images/favicons/favicon.ico" rel="shortcut icon")
    link(
      color="#5bbad5"
      href="/assets/images/favicons/safari-pinned-tab.svg"
      rel="mask-icon"
    )
    link(rel="stylesheet" href="/assets/styles/datepicker.min.css")
    link(rel="stylesheet" href="/assets/styles/datepicker.css")
    
    block title
      title Свобода фитнес | Страница без названия

    block manifestBrowserconfigFiles
      link(href="./manifest.json" rel="manifest" crossorigin)
      meta(content="./browserconfig.xml" name="msapplication-config")

    script.
      function autorun() {}
      if (window.addEventListener) window.addEventListener("load", autorun, false);
      else window.onload = autorun;

    script(src="https://api-maps.yandex.ru/v3/?apikey=7a5c4165-0520-40cb-82e7-515d4b0ff65c&lang=ru_RU")
    script.
      window.initMap = initMap()
      async function initMap() {
        await ymaps3.ready;

        const {YMap, YMapDefaultSchemeLayer} = ymaps3;

        const map = new YMap(
            document.getElementById('map-yandex'),
            {
                location: {
                    center: [37.447432, 55.849432],
                    zoom: 16,
                    controls: ['zoomControl'],
                }
            }
        );
        map.addChild(new YMapDefaultSchemeLayer({
          theme: "dark", customization: []
        }));
      }
      initMap();

  body
    .render
    .loading
      <svg width="42" height="37" viewBox="0 0 42 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.3939 3L2.84037 31.9634C2.03256 33.2963 2.9922 35 4.55076 35H37.8538C39.3185 35 40.2864 33.4775 39.6648 32.1512L34.6709 21.4962C34.3416 20.7937 33.6358 20.345 32.8599 20.345H21.404" stroke="#F7D90B" stroke-width="4" stroke-linecap="square"/>
      </svg>

    include ../mixins/subtitle
    include ../mixins/breadcrumbs

    include ../components/header

    block content

    include ../components/footer
    .popup__overlay
    include ../components/popup-coach
    include ../components/popup-coach-booking
    include ../components/schedule-filters-mob

    block js