footer.footer
  .wrapper
    .footer__wrapper.footer-top
      .footer__slogan ПОЛУЧИТЬ БОЛЬШЕ <br> ИНФОРМАЦИИ
      form.footer__form(action="#")
        label.footer__label
          input.footer__input(type="text" placeholder="" name="name" required)
          p Имя
        label.footer__label
          input.footer__input(type="tel" placeholder="" name="phone" required)
          p Телефон
        label.footer__label
          input.footer__input(
            type="email"
            placeholder=""
            name="email"
            required
          )
          p Email
        label.footer__policy
          input(type="checkbox" checked name="policy" required)
          span Я соглашаюсь с условиями обработки персональных данных
        button.footer__button(type="submit") ОТПРАВИТЬ
    .footer__wrapper.footer-bottom
      nav.footer__nav
        .footer__links
          a.footer__link(href="/schedule/") Расписание
          a.footer__link(href="/contacts/") Контакты
          a.footer__link(href="/coaches/") Тренеры
          a.footer__link(href="/blog/") Блог
        .footer__links
          a.footer__link(href="/plans/") Абонементы
          a.footer__link(href="/#services") Услуги
          a.footer__link(href="/#reviews") Отзывы
          a.footer__link(href="/#faq") Частые вопросы
        .footer__links
          a.footer__link(href="tel:+7 912 234-23-43") +7 912 234-23-43
          a.footer__link(
            href="https://yandex.ru/maps/-/CDB5AZJK"
            target="_blank"
          ) г. Москва, <br> ул. Свободы 44
          a.footer__link(
            href="https://t.me/Alexfitness_Svoboda"
            target="_blank"
          ) Telegram
        .footer__links
          <iframe src="https://yandex.ru/sprav/widget/rating-badge/45207514553?type=rating&theme=dark" width="150" height="50" frameborder="0"></iframe>
          .footer__data
            p ООО "Стальная Лига"
            p ОГРН 1197746157542
            p ИНН 7704480525 
            p КПП 773301001
            p 
              a(href="https://yandex.ru/maps/-/CHAyAByo" target="_blank") 125364, г. Москва, ул. Свободы 44, этаж 2, помещение I, комната 1.
    .footer__copy
      .copyright &copy; <span class="currentYear">2024</span> Свобода Фитнес. Все права защищены.
      .footer__link.footer__policy
        a(href="/privacy-policy/") Политика
      .footer__item
        a(href="https://shevelev.agency" target="_blank").footer__link.footer__link-right
          span Разработано в 
          span SHEVELEV